.product-page {
    animation: fade-in .3s ease-in;
}

.product-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    padding-bottom: 3em;
}

.product-year-condition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1em;
}

.product-info {
    display: flex;
    width: 55%;
    justify-content: space-between;
    min-width: 150px;
    
}

.product-info span {
    text-decoration: underline;
}

.product-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.product-stock {
    display: flex;
    justify-content: space-between;
    width: 6em;
}

.product-quantity {
    border-radius: 5px;
    text-align: center;
}

.incrementer-and-button {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
}

.product-big-cart-button {
    height: 2.5em;
    width: 12em;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.product-description {
    text-align: left;
    padding-top: 1em;
}

.genres, .incrementer-and-button {
    padding-top: 1em;
}

.genre-link {
    padding-left: .5em;
}

.similar-items {
    border-top: 2px solid rgb(206, 203, 203);
    padding-top: 2em;
    width: 100%;
}

.similar-items h3 {
    padding-bottom: 2em;
}

.product-img {
    cursor: pointer;
}

.image-large-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 98;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.447);
}

.image-large-modal {
    position: relative;
    z-index: 99;
    position: relative;
    bottom: 50;
    width: 50vw;
}

.image-large-modal p {
    position: absolute;
    right: 5px;
    font-size: 4em;
    font-weight: bold;
    line-height: .5;
    cursor: pointer;
}

@media (max-width: 800px) {
    .product-wrapper {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
        gap: 0;
        max-width: 500px;
        margin: 0 auto;
    }

    .product-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        gap: 1em;
        padding-top: 1em;
    }

    .product-title {
        padding-bottom: 0;
    }

    .incrementer-and-button {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .product-big-cart-button {
        width: 100%;
    }

    .product-description {
        padding-top: 0;
    }

    .image-large-modal {
        position: relative;
        z-index: 99;
        position: relative;
        bottom: 50;
        width: 100vw;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}